<appSettings>
  <add key="YOTI_APPLICATION_ID" value="yourApplicationId" />
  <add key="YOTI_CLIENT_SDK_ID" value="yourClientSdkId" />
  <add key="YOTI_SCENARIO_ID" value="yourScenarioId" />
  <add key="YOTI_KEY_FILE_PATH" value="your/Key/File/Path" />
</appSettings>