@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">You are one step away from accessing the worlds finest authentication example project.</p>
    <span data-yoti-application-id="@ViewBag.YotiAppId">Log in with Yoti </span>
</div>