@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="jumbotron">
    <h1>Oops</h1>
    <p class="lead">Looks like something went wrong! Why not try again?</p>
    <span data-yoti-application-id="@ViewBag.YotiAppId">Log in with Yoti </span>
</div>