@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="jumbotron">
    <h1>Byyyyeeeee!</h1>
    <p class="lead">Are you sure you don't want to log back in? We miss you already.</p>
    <span data-yoti-application-id="@ViewBag.YotiAppId">Log back in with Yoti </span>
</div>