﻿@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h2><a href="/">Home</a></h2>
    <h3>
        Could not login user for the following reason:

        @TempData["Error"]
    </h3>
    <h3>Inner exception: </h3>
    <p>

        @TempData["InnerException"]
    </p>
</body>
</html>