@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Bye!</h1>
    <span data-yoti-application-id="@ViewBag.YotiAppId">Log back in with Yoti </span>
</div>