@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Welcome</h1>
    <span data-yoti-application-id="@ViewBag.YotiAppId" data-yoti-scenario-id="@ViewBag.ScenarioId" data-yoti-type="inline">Log in with Yoti </span>
</div>